@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);
@import url(https://db.onlinewebfonts.com/c/9f5af5bd3b02c9efd39b88ea75ddad47?family=Helvetica);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


nav li{
    padding: 10px 20px;
}


nav ul{
	list-style: none;
	margin-top: 30px;
   display: block;
    flex-direction: column;
    text-align: center;
}

 a{
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #4695c1;

	
}

.menu-container{
    position: relative;
}

.menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.menu-icon div{
    width: 35px;
    height: 5px;
    background-color: #4695c1;
    margin: 6px 0;
    transition: 0.4s;
}


.menu-close{
    position: absolute;
    top: 20px;
    right: 25px;
    margin-left: 50px;
    font-size: 36px;
}



.menu{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4695c1;
    overflow-x: hidden;
    padding-top: 12px;
    gap: 40px;
    align-items: center;
    visibility: hidden;
    transition: opacity 0.5s; visibility: 0.5s;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.menu a{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
   
}

